<script src="https://kit.fontawesome.com/4a5b37bc44.js" crossorigin="anonymous"></script>

<main>
<div>
  <%= flash[:notice] %>
</div>

<div class="container px-5 px-sm-0">
<div class="row">
<div class="col-md-3">


<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'list', user: @user, book: @book %>


<div class="col-md-8 offset-md-1">
<h3>Books</h3>
 <% @books.each do |book| %>

 <p>name</p>
    <%= link_to user_path(book.user.id) do %>
    <%= image_tag book.user.get_profile_image(100,100) %>
    <%= book.user.name %>
<% end %>


<h6>Title</h6>
 <%= link_to book.title, book_path(book.id) %>


  <h6>Opinion</h6>
  <span><%= book.body %></span>
<%= link_to "show", book_path(book.id) %>
<%= link_to "Edit", edit_book_path(book.id) %>
<%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>


  <% end %>

   </div>
    </div>
     </div>
    </main>

  <footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
    </div>
  </div>
</footer>
