<script src="https://kit.fontawesome.com/4a5b37bc44.js" crossorigin="anonymous"></script>

<main>
<div>
  <%= flash[:notice] %>
</div>

<div class="container px-5 px-sm-0">
<div class="row">
<div class="col-md-3">
<h3>User info</h3>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <p>画像</p>

  <% if @user.image.attached? %>
    <%= image_tag @user.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>

<table class="table">
<tbody>
<tr></tr>
<tr>
<th>name</th>
<th><%= @user.name %></th>
</tr>
<tr>
<th>introduction</th>
<th><%= @user.introduction%></th>
<th></th>
</tr>
</tbody>
</table>

<div class="row">

 <% if @user == current_user %>
    <p><%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
    </p>

  <% end %>

</div>

<h2 class="mt-3">New book</h2>
  <%= form_with model: @book do |f| %>

<div class="form-group">
    <label for="book_title">Title</label>
    <input class="form-control book_title" type="text" name="book[title]" id="book_title">
</div>

<div class="form-group">
    <label for="book_opinion">Opinion</label>
    <textarea class="form-control book_body" name="book[body]" id="book_body"></textarea>
</div>

       <div class="form-group">
         <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
       </div>
    </form>

  <% end %>

<div class="col-md-8 offset-md-1">
<h3>Books</h3>
 <% @books.each do |book| %>

 <p>name</p>
    <%= link_to user_path(book.user.id) do %>
    <%= image_tag book.user.get_profile_image(100,100) %>
    <%= book.user.name %>
<% end %>


<h6>Title</h6>
 <%= link_to book.title, book_path(book.id) %>


  <h6>Opinion</h6>
  <span><%= book.body %></span>
<%= link_to "show", book_path(book.id) %>
<%= link_to "Edit", edit_book_path(book.id) %>
<%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>


  <% end %>

   </div>
    </div>
     </div>
    </main>

  <footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
    </div>
  </div>
</footer>
