<header>

</header>

<script src="https://kit.fontawesome.com/4a5b37bc44.js" crossorigin="anonymous"></script>


<div class="container px-5 px-sm-0">
<div class="row">
<div class="col-md-3">

<main>


<div>
  <%= flash[:notice] %>
</div>

<% if @user.errors.any? %>
  <%= @user.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'list', user: @user, book: @new %>

</div>

<div class="col-md-8 offset-md-1">
  <h3>Book detail</h3>

  <p>name</p>
<%= link_to user_path(@user.id) do %>
  <%= image_tag @user.get_profile_image(100,100) %>
  <%= @user.name %>
<% end %>


   <h6>Title</h6>

  <span><%= @book.title %></span>

  <h6>Opinion</h6>
  <span><%= @book.body %></span>
<% if @user == current_user %>
<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>

</div>
</div>
</div>
</div>

</main>

<footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
      </div>
</footer>
